@import url('primeicons/primeicons.css');

/*Importo i file di base di tailwind css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter Variable', sans-serif;
}

@layer utilities {
    
    ::selection {
        @apply bg-momap1/40 text-white; 
    }
    
    ::-webkit-scrollbar {
        @apply w-1.5 h-1.5 rounded-lg;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-momap1/40 rounded-lg;
    }

}

/* Importo i font material symbols */
.material-symbols-outlined {
    font-family: "Material Symbols Outlined Variable";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}

/*Force wfull input primevue*/
.p-inputtext {
    width: 100% !important;
}